<html>
<head>
    <link rel="stylesheet" href="https://raw.githubusercontent.com/sindresorhus/github-markdown-css/main/github-markdown.css">
</head>
<body>

<script lang="javascript">
    var params = new URLSearchParams(window.location.search);
    var url = params.get("url");
    fetch(url).then(function (response) {
        response.text().then(txt => {
            fetch("https://api.github.com/markdown",
                    {method: "POST",
                        body: JSON.stringify({text: txt, mode: "gfm", context: "TitansBane/Elysium"})})
                    .then(function (response) {
                        response.text().then(txt2 => {
                            document.getElementById("markdownBody").innerHTML=txt2;
                        })
                    });

        });

    });

</script>
<article class="markdown-body">
    <div id="markdownBody" class="markdown-body">

    </div>
</article>
</body>
</html>